{
    "getNotes": {
        "TABLE_NAME": "notes"
    },
    "getNote": {
        "TABLE_NAME": "notes"
    },
    "postNote": {
        "TABLE_NAME": "notes"
    },
    "putNote": {
        "TABLE_NAME": "notes"
    },
    "deleteNote": {
        "TABLE_NAME": "notes"
    }
  }