{
    "getAllItemsFunction": {
        "SAMPLE_TABLE": "notes"
    },
    "getByIdFunction": {
        "SAMPLE_TABLE": "notes"
    },
    "putItemFunction": {
        "SAMPLE_TABLE": "notes"
    }
  }